@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
    --spacegray: rgb(44, 44, 44);
}
* {
    margin: 0;
    padding: 0;
    background-color: var(--spacegray);
    font-family: Roboto;
}
li {list-style-type: none;}


.monitor-item {
    color: white;
    padding: 5% 1%;
    text-align: right;
}

.monitor-item #number {
    font-size: 500%;
}


#butoes {
    display: flex;
}

#butoes i:hover {cursor: pointer;}

#b1 {color: red;}
#b2 {color: yellow;}
#b3 {color: green;}

.fa-circle {
    margin: 5px;
}


.teclado {
    /* criar colunas: */
    display: grid;
    /* template das colunas: os quatro "autos" criam 4 colunas  */
    grid-template-columns: auto auto auto auto;

    padding: 2px;
}

.grid-item {
    color: white;
    background-color: gray;
    border: 1px solid var(--spacegray);
    padding: 25px;
    font-size: 30px;
    text-align: center;
}

.zero {
    grid-column: span 2;
}

.grid-item:hover {
    background-color: rgb(82, 82, 82);
    cursor: pointer;
}

.operator {
    background-color: rgb(0, 165, 129);
}

.operator:hover {
    background-color: rgb(0, 94, 72);
}

